---
import Layout from "../layouts/Layout.astro";
import Tech from "../components/Tech.astro";
---

<Layout
  title="webdev.london"
  description="The meetup for everyone who loves the web, coming soon."
>
  <main>
    <section class="hero">
      <div class="left">
        <h1>webdev<wbr /><span class="text-gradient">.london</span></h1>
        <p>The meetup for everyone who loves the web, coming soon.</p>
      </div>
      <div class="right">
        <p>Next event @ 71 Carter Lane, St Pauls, London</p>
        <div id="countdown"></div>
        <p>Free to attend! Reserve your place on Meetup.</p>
        <p>
          Follow us on Twitter
          <a href="https://www.twitter.com/webdev_london">@webdev_london</a>
          so you never miss an event.
        </p>
      </div>
    </section>
    <Tech />
    <section class="agenda">
      <p>This week's meetup agenda:</p>
      <p>
        Angus Findlay (@angusjf): <em>
          "Bringing SSR & SSG to your React App"
        </em>
      </p>
      <p>
        Dan Belo Gonçalves (@?): <em>"Using XState on the Backend? idk"</em>
      </p>
    </section>
    <section class="about">
      <p>
        A place for people of all skill levels, whether you want to chat about
        cloud migrations or hello world.
      </p>
      <p>
        While we love online conferences & meetups, we're focussed on an
        in-person event for now, as we believe it's the best way to build
        community.
      </p>
      <p>We value diversity of attendees and speakers super highly.</p>
      <p>
        Want to give a talk? We'd love to hear about it! Send us a DM over at <a
          href="https://www.twitter.com/webdev_london"
        >
          @webdev_london
        </a>.
      </p>
      <p>
        We're independent and community-organised. If you'd like to help us out,
        host or sponsor an event, please reach out - we'd love to hear from you.
      </p>
    </section>
  </main>
</Layout>

<script>
  const nextMeetupDate = new Date(2023, 11, 15, 7, 0);

  const countdown = document.getElementById("countdown")!;
  const updateTimer = () => {
    const timeRemainingMS = nextMeetupDate - Date.now();
    const secondsRemaining = (timeRemainingMS % 1000) / 1000;
    countdown.innerHTML = secondsRemaining.toString();
  };
  updateTimer();
  setTimeout(updateTimer, 1000);
</script>

<style>
  main {
    margin: auto;
  }
  h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  section {
    max-width: var(--max-width);
    margin: auto;
  }
</style>

<style>
  .hero {
    background-color: var(--dark-blue);
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;
  }
  @media (min-width: 1000px) {
    .hero {
      flex-direction: row;
    }
  }
  .hero > .left {
  }
  .hero > .right {
    width: 30rem;
    background-color: var(--off-white);
    color: var(--dark-blue);
    padding: 2rem;
    border-radius: 0.5rem;
  }
</style>

<style>
  .agenda {
  }
</style>
