---
import Layout from "../layouts/Layout.astro";
import Tech from "../components/Tech.astro";
import Countdown from "../components/Countdown.astro";
---

<Layout
  title="webdev.london"
  description="The meetup for everyone who loves the web, coming soon."
>
  <main>
    <section class="dark">
      <div class="hero">
        <div class="left">
          <h1>webdev<wbr /><span class="text-gradient">.london</span></h1>
          <p>The meetup for everyone who loves the web.</p>
        </div>
        <div class="right">
          <p>Next event @ 71 Carter Lane, St Paul's, London</p>
          <Countdown />
          <p>Free to attend! Reserve your place on Meetup.</p>
          <p>
            Follow us on Twitter
            <a href="https://www.twitter.com/webdev_london">@webdev_london</a>
            so you never miss an event.
          </p>
        </div>
      </div>
    </section>
    <Tech />
    <section class="dark agenda">
      <p>This week's meetup agenda:</p>
      <p>
        Angus Findlay (Web Developer @ helloprima.co.uk): <em>
          "Bringing SSR & SSG to your React App"
        </em>
      </p>
      <p>
        Dan Belo Gonçalves (Web Developer & Coach @ theodo.co.uk): <em
          >"Using XState on the Backend?"</em
        >
      </p>
    </section>
    <section class="about">
      <p>
        A place for people of all skill levels, whether you want to chat about
        cloud migrations or hello world.
      </p>
      <p>
        While we love online conferences & meetups, we're focussed on an
        in-person event for now, as we believe it's the best way to build
        community.
      </p>
      <p>We value diversity of attendees and speakers super highly.</p>
      <p>
        Want to give a talk? We'd love to hear about it! Send us a DM over at <a
          href="https://www.twitter.com/webdev_london"
        >
          @webdev_london
        </a>.
      </p>
      <p>
        We're independent and community-organised. If you'd like to help us out,
        host or sponsor an event, please reach out - we'd love to hear from you.
      </p>
    </section>
    <section><div>Meetup link</div></section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
  h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  section > * {
    max-width: var(--max-width);
    margin: auto;
  }
  section.dark {
    background-color: var(--dark-blue);
    color: var(--off-white);
  }
</style>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 2rem;
  }
  .hero > .left > p {
    font-size: 1.2rem;
  }
  .hero > .right {
    align-self: center;
    max-width: 24rem;
    background-color: var(--off-white);
    color: var(--dark-blue);
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 0;
    margin-top: 3rem;
  }
  @media (min-width: 1000px) {
    .hero {
      flex-direction: row;
    }
    .hero > .right {
      margin-top: 0rem;
    }
  }
</style>

<style>
  .agenda {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
</style>
