---
import Layout from "../layouts/Layout.astro";
import Tech from "../components/Tech.astro";
import NextEvent from "../components/NextEvent.astro";
---

<Layout
  title="webdev.london"
  description="The meetup for everyone who loves the web, coming soon."
>
  <main>
    <section class="dark">
      <div class="hero">
        <div class="left">
          <h1>webdev<wbr /><span class="text-gradient">.london</span></h1>
          <p>The meetup for everyone who loves the web.</p>
        </div>
        <NextEvent className="right" />
      </div>
    </section>
    <Tech />
    <section class="dark agenda">
      <div>
        <p>This meetup's agenda:</p>
        <p>
          Angus Findlay (Web Developer @ helloprima.co.uk): <em>
            "Bringing SSR & SSG to your React App"
          </em>
        </p>
        <p>
          Dan Belo Gonçalves (Web Developer & Coach @ theodo.co.uk): <em
            >"Using XState on the Backend?"</em
          >
        </p>
      </div>
    </section>
    <section class="about">
      <div>
        <p>
          A place for people of all skill levels, whether you want to chat about
          cloud migrations or hello world.
        </p>
        <p>
          While we love online conferences & meetups, we're focussed on an
          in-person event for now, as we believe it's the best way to build
          community.
        </p>
        <p>We value diversity of attendees and speakers super highly.</p>
        <p>
          Want to give a talk? We'd love to hear about it! Send us a DM over at <a
            href="https://www.twitter.com/webdev_london"
          >
            @webdev_london
          </a>.
        </p>
        <p>
          We're independent and community-organised. If you'd like to help us
          out, host or sponsor an event, please reach out - we'd love to hear
          from you.
        </p>
      </div>
    </section>
    <section>
      <div>Meetup link</div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <!-- todo lol -->
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
  h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  section > div {
    max-width: var(--max-width);
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  section.dark {
    background-color: var(--dark-blue);
    color: var(--off-white);
  }
</style>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 5rem;
    text-align: center;
  }
  .hero > .left > h1 {
    margin-bottom: 1rem;
  }
  .hero > .left > p {
    font-size: 1.2rem;
  }
  .hero > .right {
    align-self: center;
    margin: 0;
    margin-top: 3rem;
  }
  @media (min-width: 1000px) {
    .hero {
      padding-top: 5rem;
      flex-direction: row;
      text-align: start;
    }
    .hero > .right {
      margin-top: 0rem;
    }
  }
</style>

<style>
  .agenda {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
</style>
