---
import Layout from "../layouts/Layout.astro";
import Tech from "../components/Tech.astro";
import NextEvent from "../components/NextEvent.astro";
import { nextEvent } from "../nextEvent";
import AgendaItem from "../components/AgendaItem.astro";
import ManifestoItem from "../components/ManifestoItem.astro";
---

<Layout
  title="webdev.london | The meetup for everyone who loves the web."
  description="The in-person meetup in London for everything new & exciting in web development."
>
  <main>
    <section class="dark">
      <div class="hero">
        <div class="left">
          <h1>webdev<wbr /><span class="text-gradient">.london</span></h1>
          <p>The meetup for everyone who loves the web.</p>
        </div>
        <NextEvent className="right" />
      </div>
    </section>
    <Tech />
    <section class="dark">
      <div class="agenda">
        <p>This meetup's agenda</p>
        {nextEvent.agenda.map((props) => <AgendaItem {...props} />)}
      </div>
    </section>
    <section class="about">
      <div>
        <div class="manifesto">
          <ManifestoItem emoji="ðŸŒ">
            A place for people of all skill levels, whether you want to chat
            about cloud migrations or hello world. We value diversity of
            attendees and speakers super highly.
          </ManifestoItem>
          <ManifestoItem emoji="âš¡ï¸">
            We're an in-person only event. While we love online conferences &
            meetups, we believe the best place to build community is IRL.
          </ManifestoItem>
          <ManifestoItem emoji="ðŸ’¡">
            Want to give a talk? We'd love to hear about it! Send us a DM over
            at <a href="https://www.twitter.com/webdev_london">
              @webdev_london
            </a>.
          </ManifestoItem>
          <ManifestoItem emoji="ðŸ’˜">
            We're independent and community-organised. If you'd like to help us
            out, host or sponsor an event, please reach out - we'd love to hear
            from you.
          </ManifestoItem>
        </div>
        <div class="finale">
          <img alt="meetup" src="/meetup.svg" />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
  h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  section > div {
    max-width: var(--max-width);
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  section.dark {
    background-color: var(--dark-blue);
    color: var(--off-white);
  }
</style>
<style>
  .manifesto {
    display: grid;
    gap: 2rem 2rem;
  }
  @media (min-width: 700px) {
    .manifesto {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .finale {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
  }
</style>

<style>
  .agenda > p {
    color: rgb(235, 235, 235);
    font-weight: 400;
    padding-top: 0rem;
    text-transform: uppercase;
    text-align: center;
  }
  .agenda {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .hero > .left > h1 {
    margin-bottom: 1rem;
  }
  .hero > .left > p {
    font-size: 1.2rem;
  }
  .hero > .right {
    align-self: center;
    margin: 0;
    margin-top: 3rem;
  }
  @media (min-width: 1000px) {
    .hero {
      flex-direction: row;
      text-align: start;
    }
    .hero > .right {
      margin-top: 0rem;
    }
  }
</style>
