---
export interface Props {
  to: Date;
}

const { to } = Astro.props;
---

<div class="countdown">
  <span id="w" class="number"></span> weeks
  <span id="d" class="number"></span> days
  <span id="h" class="number"></span> h
  <span id="m" class="number"></span> m
  <span id="s" class="number"></span> s
</div>

<style>
  .countdown {
    display: flex;
    flex-direction: row;
  }

  .number {
    background-color: rgb(182, 201, 193);
    padding: 2px 4px;
    border-radius: 3px;
    width: 2ch;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: 8px;
    font-family: monospace;
  }

  .number:first-child {
    margin-left: 0px;
  }
</style>

<script define:vars={{ to }}>
  const wElem = document.getElementById("w");
  const dElem = document.getElementById("d");
  const hElem = document.getElementById("h");
  const mElem = document.getElementById("m");
  const sElem = document.getElementById("s");

  const between = (from, to) => {
    let timeRemainingMS = Math.abs(to.valueOf() - from.valueOf());

    timeRemainingMS -= timeRemainingMS % 1000;

    const s = (timeRemainingMS % (1000 * 60)) / 1000;
    timeRemainingMS -= s * 1000;

    const m = (timeRemainingMS % (1000 * 60 * 60)) / (1000 * 60);
    timeRemainingMS -= m * 1000 * 60;

    const h = (timeRemainingMS % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60);
    timeRemainingMS -= h * 1000 * 60 * 60;

    const d =
      (timeRemainingMS % (1000 * 60 * 60 * 24 * 7)) / (1000 * 60 * 60 * 24);
    timeRemainingMS -= d * 1000 * 60 * 60 * 24;

    const w = timeRemainingMS / (1000 * 60 * 60 * 24 * 7);

    return { w, d, h, m, s };
  };

  const updateTimer = () => {
    let { w, d, h, m, s } = between(new Date(), new Date(to));
    wElem.innerHTML = w.toString().padStart(2, "0");
    dElem.innerHTML = d.toString().padStart(2, "0");
    hElem.innerHTML = h.toString().padStart(2, "0");
    mElem.innerHTML = m.toString().padStart(2, "0");
    sElem.innerHTML = s.toString().padStart(2, "0");
  };

  updateTimer();

  setInterval(updateTimer, 1000);
</script>
