---
---

<header>
  <nav>
    <a href="/"><img alt="home" class="logo" src="/logo.png" /></a>
    <a href="https://www.twitter.com/webdev_london">
      <img alt="home" class="twitter" src="/twitter.svg" />
    </a>
  </nav>
</header>

<style>
  header {
    padding: 0.5rem 1rem;
    background-color: var(--off-white);
    color: var(--dark-blue);
  }
  nav {
    margin: auto;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  a {
    display: flex;
  }
  .logo {
    width: 2rem;
    height: 2rem;
  }
  .twitter {
    width: 1.6rem;
    height: 1.6rem;
  }
</style>
